/* Общие стили */
body, p {
    margin: 0;
}

p {
    color: #1B1B1C;
    font-family: "Montserrat";
    font-weight: 650;
}

.progressBlock {
    width: 128px; /* Увеличил немного, чтобы учитывать границу */
    height: 128px; /* Увеличил немного, чтобы учитывать границу */
    position: relative;
}

.progress {
    transform: rotate(-90deg);
}

.progressCircle {
    transition: stroke-dashoffset 0.5s;
}

.progressFill {
    stroke-dasharray: 365;
    stroke-dashoffset: calc((100 - var(--progress-value, 0)) * 3.64);
    transition: 0.5s;
}

.progressFillHide {
    display: none;
}

.valueInput, .toggleAnimate, .toggleHide {
    width: 44px;
    height: 26px;
    border-radius: 20px;
    padding: 3px;
}

.valueInput {
    border: 1px solid #020202;
    color: #020202;
    display: flex;
    text-align: center;
    font-family: "Montserrat";
    font-weight: 600;
    transition: 0.2s ease-in-out;

    &:active, &:hover, &:focus {
        outline: 0;
        outline-offset: 0;
        border: 1px solid #005CFF;
    }
}

.toggleAnimate, .toggleHide {
    background-color: #EAF3F6;
    position: relative;
    display: flex;
    transition: 0.2s ease-in-out;
    &::before {
        content: '';
        position: absolute;
        left: 2px;
        width: 26px;
        background-color: white;
        height: inherit;
        border-radius: 36px;
        transition: left 0.1s ease-in-out; /* Анимация изменения положения */
    }
}

.activeAnimate {
    background-color: #005CFF;
    &::before {
        left: calc(100% - 28px);
    }
}


/* Позицианирование */
.mainBlock {
    height: 100svh;
    display: flex;
    align-items: center;
    gap: 100px;
    justify-content: center;
}

.progressTitle {
    position: absolute;
    left: 24px;
    top: 24px;
}

.progressControll {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.progressControllRow {
    display: flex;
    align-items: center;
    gap: 16px;
}

/* Медиа-запросы(адаптация) */
@media (max-width: 567px) {
    .mainBlock {
        flex-direction: column;
        gap: 80px;
    }
}