/* Общие стили */
body, p {
    margin: 0;
}

p {
    color: #1B1B1C;
    font-family: "Montserrat";
    font-weight: 650;
}

.mainBlock {
    height: 100vh;
    display: flex;
    align-items: center;
    gap: 100px;
    justify-content: center;
}

.progressBlock {
    width: 128px;
    height: 128px;
    position: relative;
}

.progress {
    transform: rotate(-90deg);
    opacity: 1;
    transition: 0.4s;
}

.progressCircle {
    transition: stroke-dashoffset 0.4s;
}

.progressFill {
    stroke-dasharray: 365;
    stroke-dashoffset: calc((100 - var(--progress-value, 0)) * 3.64);
    transition: 0.4s;
}

/* Состояние hide */
.progressFillHide {
    opacity: 0;
}

/* Общие стили для контроллеров */
.valueInput, .toggleAnimate, .toggleHide {
    width: 44px;
    height: 26px;
    border-radius: 20px;
    padding: 3px;
    font-family: "Montserrat";
    font-weight: 600;
    transition: border-color 0.2s ease-in-out;
}

.valueInput {
    border: 1px solid #020202;
    color: #020202;
    text-align: center;

    &:active, &:hover, &:focus {
        outline: 0;
        border-color: #005CFF;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
}

.toggleAnimate, .toggleHide {
    background-color: #EAF3F6;
    position: relative;
    cursor: pointer;

    &::before {
        content: '';
        position: absolute;
        left: 2px;
        width: 25px;
        background-color: white;
        height: inherit;
        border-radius: 36px;
        transition: left 0.1s ease-in-out; /* Анимация изменения положения */
    }
}

/* Стили для тоглов в состоянии active */
.activeAnimate, .activeHide {
    background-color: #005CFF;
    &::before {
        left: calc(100% - 28px);
    }
}

.progressTitle {
    position: absolute;
    left: 24px;
    top: 24px;
}

.progressControll {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.progressControllRow {
    display: flex;
    align-items: center;
    gap: 16px;
}

/* Медиа-запросы(адаптация) */
@media (max-width: 567px) {
    .mainBlock {
        flex-direction: column;
        gap: 80px;
    }
}